---
extends: default

rules:
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  line-length: disable
  truthy: disable
  comments: disable
  comments-indentation: disable
  document-start: disable
